@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body{
    background-color:white;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 50em; /* centrar el body */
    line-height: 1.5; /* espacio entre lineas */
    padding: 2em 1em; /* padding arriba y abajo */
    color: #566b78;
}

h2{
    margin-top: 1em;
}

h1, h2, strong{
    color: #333;
}

a{
    color: #f60;
    text-decoration: none;
}

header img{

    height: 120px;
    vertical-align: left;
    float: right;
    
}

